doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    .kits-container
      include ../../kits/rooms/find-rooms/find-rooms.pug
      include ../../kits/rooms/room-reservation/room-reservation.pug

      .calendar(class="-show- -visible-")
        include ../../kits/calendar/calendar.pug

      include ../../kits/auth/register/register.pug
      include ../../kits/auth/login/login.pug

      include ../../kits/rooms/room-details/room-details.pug
    
    .core 
      include ../../kits/core/header/header.pug
      .core__header
        +Header("")
      .core__header-authed
        +Header("Юлий Цезарь")
      .core__footer
        include ../../kits/core/footer/footer.pug
      .core__footer-mobile 
        