body {
  background: #e5e5e5;

  .kits-container {
    position: relative;
    width: 1160px;

    .form,
    .details,
    .calendar.-visible- {
      position: absolute;
    }

    .find-room {
      top: 0;
      left: 0;
    }
    .room-reservation {
      top: 0;
      left: 36.2%;
    }
    .calendar.-visible- {
      top: 0;
      right: 0;
    }
    .login {
      top: 552px;
      left: 36.2%;
    }
    .register {
      top: 414px;
      left: 0;
    }
    .details {
      top: 408px;
      right: 4.3%;
    }
  }

  .core {
    .core__header,
    .core__footer,
    .core__header-authed {
      position: absolute;
      top: 1200px;
      left: 0;

      width: 1440px;
      min-height: 70px;

      margin-bottom: 100px;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      background: white;
    }

    .core__header-authed {
      top: 1300px;
    }

    .core__footer {
      top: 1400px;
    }
  }
}

.-show-.-visible- {
  position: relative;
  .datepicker {
    position: relative;
    top: 0;
  }
}

.datepicker {
  z-index: 1000;
}
