-
  var roomData = [{
    imgs: ["./assets/luxury_room.png"],
    num: 888,
    type: "люкс",
    price: 9990,
    rating: 5,
    comments: 145 // планируется сделать как массив комментариев, кол-во комментариев - длина массива
  }, {
    imgs: ["./assets/standart_room.png"],
    num: 840,
    type: "стандартный",
    price: 9900,
    rating: 4,
    comments: 65,
  }]

.details
  each room in roomData
    include ./room-details.mixin.pug
    +roomDetails(room)