-
  import generateRoomData from './roomsData.js'
//-   const rooms = [];
//-   for (let i = 0; i < 12; i++) {
//-     rooms.push(generateRoomData());
//-   }

//- .search-room 
//-   .filters 
//-   .rooms 
//-     include ../../kits/rooms/room-details/room-details.mixin.pug
//-     each room in rooms
//-       +roomDetails(room)

.search-room