form(class="login form")
  h1(class="form__title") Войти
  .form__field
    input(type="email" placeholder="Email" class="email form__input")
    input(type="password" placeholder="Пароль" class="password form__input")
  //- button(class="form__btn login__btn -form-btn-") войти
  include ../../shared/buttons/buttons.pug
  +formBtn("войти", ["login__btn"])
  +additionalField("Нет аккаунта на Toxin?", ["login__additional-field"])