form(class="login form-cont")
  h1(class="title") Войти
  input(type="email" placeholder="Email" class="email form-input")
  input(type="password" placeholder="Пароль" class="password form-input")
  button(class="form-btn login-btn") войти
  .additional-field
    span(class="additional-field__msg") Нет аккаунта на Toxin?
    button(class="additional-field__btn")