form(class="login form")
  h1(class="form__title") Войти
  .form__field
    input(type="email" placeholder="Email" class="email form__input")
    input(type="password" placeholder="Пароль" class="password form__input")
  button(class="form__btn login__btn") войти
  .form__additional-field
    span(class="additional-field__msg") Нет аккаунта на Toxin?
    button(class="additional-field__btn")