@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  src: url("../src/fonts/Montserrat/Montserrat-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  src: url("../src/fonts/Montserrat/Montserrat-Bold.otf") format("truetype");
  font-weight: bold;
}
