.find-room {
  position: relative;
  .form__title {
    margin-bottom: 8px !important;
  }

  .calendar .calendar__items .calendar__item {
    .dropdown__btn {
      &.form__input {
        padding: 4px 0 8px 14px;
      }
    }
  }

  .form-btn.find-room__btn {
    margin-top: 20px;
  }
}
