include ../../shared/buttons/buttons.pug

.form(class="find-room")
  h1(class="form__title") Найдём номера под ваши пожелания
  include ../cross-mixins/calendar/calendar.mixin.pug
  +calendar("findRoomCalendar")

  include ../cross-mixins/guests-counter/guests-counter.mixin.pug
  +guestsCounter
  +formBtn("Подобрать номер", ["find-room__btn"])
