.form(class="find-room")
  h1(class="form__title") Найдём номера под ваши пожелания
  include ../cross-mixins/calendar/calendar.mixin.pug
  +calendar

  include ../cross-mixins/guests-counter/guests-counter.mixin.pug
  +guestsCounter
  button(class="form__btn find-room__btn" type="button") Подобрать номер
