doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    main(class="main")
      ul(class="pages")
        li(class="pages__item")
          a(href="./pages/ui-kit.html" class="pages__link") UI-kit
        li(class="pages__item")
          a(href="./pages/landing.html" class="pages__link") Landing
        li(class="pages__item")
          a(href="./pages/ui-kit.html" class="pages__link") Search room
        li(class="pages__item")
          a(href="./pages/ui-kit.html" class="pages__link") Room details
        li(class="pages__item")
          a(href="./pages/login.html" class="pages__link") Login
        li(class="pages__item")
          a(href="./pages/ui-kit.html" class="pages__link") Register