.kits-container
  include ./kits/auth/login/login.pug
  include ./kits/auth/register/register.pug
  .calendar(class="-show- -visible-")
    include ./kits/calendar/calendar.pug
  include ./kits/rooms/find-rooms/find-rooms.pug

  include ./kits/rooms/room-details/room-details.pug