.kits-container
  include ./kits/rooms/find-rooms/find-rooms.pug
  include ./kits/rooms/room-reservation/room-reservation.pug

  .calendar(class="-show- -visible-")
    include ./kits/calendar/calendar.pug

  include ./kits/auth/register/register.pug
  include ./kits/auth/login/login.pug

  include ./kits/rooms/room-details/room-details.pug