.form {
  .form__additional-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 32px;

    .additional-field__btn {
      width: 99px;
      height: 44px;

      display: inline-block;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

      outline: none;
      border: none;
      border-radius: 22px;

      padding: 0;

      cursor: pointer;

      &:hover {
        background: linear-gradient(180deg, #bb9cff82 0%, #8ba5f985 100%);
      }

      &::before {
        width: 95px;
        height: 40px;

        margin: auto;

        display: inline-block;
        border-radius: 22px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: white;

        text-transform: uppercase;
        color: #bc9cff;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.8;
      }
    }

    .additional-field__msg {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.6;
    }
  }
}
