include ../../shared/buttons/buttons.pug

form(class="register form")
  h1(class="form__title") Регистрация аккаунта
  .form__field
    input(class="form__input firstname" placeholder="Имя" type="text")
    input(class="form__input lastname" placeholder="Фамилия" type="text")
  .form__gender
    .gender-item(class="male")
      input(class="male__radio gender-item__radio" type="radio" name="gender" value="man" id="male")
      label(for="male" class="gender-item__cutom-radio") 
      label(for="male" class="gender-item__label") Мужчина
    .gender-item(class="female")
      input(class="female__radio gender-item__radio" type="radio" name="gender" value="woman" id="female")
      label(for="female" class="gender-item__cutom-radio") 
      label(for="female" class="gender-item__label") Женщина
  .form__field(class="birth")
    label(for="" class="birth__label field__name") дата рождения
    input(tpe="text" class="birth__input form__input" placeholder="ДД.ММ.ГГГГ")
  .form__field(class="service-data")
    label(class="service-data__lable field__name") данные для входа в сервис
    input(tpe="text" class="email form__input" placeholder="Email")
    input(tpe="text" class="password form__input" placeholder="Пароль")
  .form__offers
    label(class="offers__switch")
      input(type="checkbox" class="switch__input")
      span(class="switch__slider")
    span(class="offers__msg") Получать спецпредложения
  +formBtn("перейти к оплате", ["register__btn"])
  +additionalField("Уже есть аккаунт на Toxin", ["register__additional-field"])
