form(class="register form-cont")
  h1(class="title") Регистрация аккаунта
  input(class="name form-input" placeholder="Имя" type="text")
  input(class="lastname form-input" placeholder="Фамилия" type="text")
  .gender
    .gender-item(class="male")
    .gender-item(class="female")
  .birth
    label(for="" class="birth-label") дата рождения
    input(tpe="text" class="birth-input form-input" placeholder="ДД.ММ.ГГГГ")
  .service-data 
    label(class="service-data-lable") данные для входа в сервис
    input(tpe="text" class="email form-input" placeholder="Email")
    input(tpe="text" class="password form-input" placeholder="Пароль")
  .requests
    label(class="switch")
      input(type="checkbox" class="switch-input")
      span(class="switch-slider")
    span(class="requests_msg") Получать спецпредложения
  button(class="form-btn login-btn") перейти к оплате
  .additional-field
    span(class="additional-field__msg") Уже есть аккаунт на Toxin?
    button(class="additional-field__btn")
