.calendar {
  position: relative;
  .calendar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .calendar__item {
      width: 47%;

      .btn__name {
        text-transform: uppercase;
      }
    }
  }

  .datepicker {
    position: absolute;
    display: none;
  }
  &.-show- {
    .datepicker {
      display: block;
      width: 87%;
    }
  }
}
