mixin calendar(id)
  .calendar(class="find-room-calendar" id=id)
    .calendar__items
      .calendar__item(class="form__field arrival start-date__inp")
        label(for="" class="field__name") Прибытие 
        .dropdown
          .dropdown__btn(class="form__input") 
            span(class="btn__name") дд.мм.гггг
            .btn__icon
      .calendar__item(class="form__field depature end-date__inp")
        label(for="" class="field__name") Выезд 
        .dropdown
          .dropdown__btn(class="form__input") 
            span(class="btn__name") дд.мм.гггг
            .btn__icon
    include ../../../calendar/calendar.pug