.footer {
  width: 100vw;
  .footer-inner {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;

    .footer__main-part {
      position: relative;

      padding-top: 100px;
      align-items: flex-start;

      // border-bottom: 1px solid black;

      .info {
        width: 22%;

        font-size: 14px;
        line-height: 24px;

        .text {
          margin-top: 9px;
        }
      }

      .menu {
        width: 74.3%;
        line-height: 15px;

        margin-top: 2px;
        margin-bottom: 80px;

        .menu__head {
          text-transform: uppercase;

          .menu__title-row {
            .menu__title {
              text-align: left;
              font-size: 12px;

              &:not(:last-child) {
                width: 23.2%;
              }
            }
          }
        }

        .menu__row {
          height: 36.3px;
        }

        .menu__title,
        .menu__content {
          vertical-align: top;
        }

        .menu__body {
          .menu__content-row {
            .menu__content {
              font-size: 14px;
              color: rgba(31, 32, 65, 0.5);

              &.offers-and-news {
                position: relative;

                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .menu__offers-text {
                  position: absolute;
                  top: -5px;
                  line-height: 24px;
                }
                .menu__send-email {
                  position: absolute;
                  top: 66px;

                  height: 44px;
                  width: 100%;

                  padding: 9px 0 8px 15px;

                  border: 1px solid #d1d1d8;
                  box-sizing: border-box;
                  border-radius: 4px;
                  box-shadow: 0.5px 0.7px 0.7px rgba(31, 32, 65, 0.25);

                  outline: none;

                  &::-webkit-input-placeholder {
                    color: rgba(31, 32, 65, 0.25);
                    font-size: 14px;
                    line-height: 25px;
                    font-family: "Montserrat extra Light";
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer__copyright {
      align-items: center;
      min-height: 70px;

      .copyright__text {
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.75);
      }

      .copyright__sites {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 112px;
      }
    }
    .footer__split-line {
      width: 99.8%;
      margin: 0;

      border: 0.5px solid rgba(31, 32, 65, 0.1);
    }
  }
}

@media screen and (max-width: 1014px) {
  .footer {
    background: none;
    .footer-inner {
      width: 100%;

      margin: 0 auto 50px auto;
      background: white;
      padding: 31px 0 117px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .footer__main-part {
        justify-content: center;

        .info {
          width: 100%;
        }
      }

      .menu {
        display: none;
      }

      .info {
        .text {
          display: none;
        }
        .logo {
          // width: 110px;
          text-align: center;
          margin-bottom: 13px;
        }
      }

      .footer__split-line {
        display: none;
      }

      .footer__copyright {
        flex-direction: column;
        min-height: 68px;

        .copyright__text {
          text-align: center;
        }
      }
    }
  }
}
